**pycache**/
*.pyc
*.pyo

venv/
.env

*.db
store_intelligence.db

.coverage
.pytest_cache/

fix_*.py

data/clips/
data/*.mp4
#data/*.jsonl

yolov8n.pt

scripts/app/
scripts/dashboard/
scripts/docs/
scripts/pipeline/
